/* Mixins */
@mixin border-with-no-background($color){
	border: 5px solid $color;
	background: transparent;
	color: $color;
	padding: .5em 4em;
	margin-bottom: 1em;
}

@mixin btn-with-background($color){
	background: $black;
	color: $color;
	padding: .5em 2em;	
}