/* Colors */
/* Font Weights */
/* Mixins */
.bs-wizard {
  margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*END Form Wizard*/
body {
  font-size: 17px;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.map-section-img {
  background: url("/images/map-image.png") center center;
  background-size: 100%;
  height: 80vh;
  text-align: center;
}

.map-section-img .col-12 {
  height: 80vh;
}

.map-section-img .col-12 button {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
  margin-top: 35vh !important;
}

.sesion-section {
  background: #33464E;
}

.sesion-section .sesion-menu ul {
  margin-bottom: 0 !important;
}

.sesion-section .sesion-menu .item-element {
  display: inline-block;
}

.sesion-section .sesion-menu .item-element a {
  color: #FFFFFF !important;
  font-size: .7em;
  padding-left: .5em;
}

.navbar {
  background: #DADF4A;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.navbar .navbar-brand img {
  width: 15vw;
}

.navbar .navbar-toggler-icon {
  color: #FFFFFF;
  padding-top: 4px;
}

.navbar .navbar-nav {
  background: #cacd4f;
  padding-left: .5em;
  padding-right: .5em;
}

.navbar .navbar-nav .nav-link {
  color: #33464E;
  font-size: .8em;
  font-weight: 300;
  padding-left: 1em;
  border-right: 1px solid #638F41;
}

.navbar .navbar-nav .nav-link img {
  width: 20px;
}

.navbar .navbar-nav #last-child {
  border-right: none;
  margin-top: .3em;
}

.navbar .navbar-nav #last-child i {
  color: #FFFFFF;
}

footer {
  background: #33464E;
  align-self: flex-end;
  padding-bottom: 2em;
  padding-top: 2em;
}

footer .title {
  color: #FFFFFF;
  font-size: .85em;
  margin-bottom: 1.5em;
}

footer .item-footer {
  color: #FFFFFF;
  font-size: .7em;
  display: block;
}

footer .logo {
  width: 120px;
}

footer .icon {
  color: #FFFFFF;
  margin-left: .5em;
}

.main-section {
  overflow: hidden;
}

/* INDEX */
.first-section {
  background: #DADF4A;
  padding-top: 4em;
  padding-bottom: 4em;
}

.first-section h3 {
  color: #33464E;
  margin-bottom: 2em;
  text-align: center;
}

.first-section .col-sm-6 h5, .first-section .col-sm-6 p {
  color: #33464E;
}

.first-section .col-sm-6 h5 {
  font-size: 1em;
}

.first-section .col-sm-6 p {
  font-weight: 300;
  font-size: .8em;
}

.first-section .col-sm-6 button {
  border: 5px solid #638F41;
  background: transparent;
  color: #638F41;
  padding: .5em 4em;
  margin-bottom: 1em;
}

#map-image {
  padding-left: 0 !important;
}

#map-image img {
  max-width: 100%;
  min-height: 100%;
}

.second-section {
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}

.second-section img {
  margin-bottom: 1em;
  width: 450px;
}

.second-section p {
  font-size: .9em;
  padding-left: .75em;
  padding-right: .75em;
}

.third-section {
  background: #33464E;
  padding-bottom: 2em;
  padding-top: 2em;
}

.third-section .col-3 {
  text-align: center;
}

.third-section img {
  margin-bottom: 1em;
}

.third-section p {
  color: #FFFFFF;
  font-weight: bold;
}

.third-section .number {
  color: #FFFFFF;
}

.third-section .title {
  color: #DADF4A;
  margin-bottom: 0;
}

.four-section {
  background: #DADF4A;
  padding-bottom: 3em;
  padding-top: 3em;
  text-align: center;
}

.four-section button {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
}

.five-section {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}

.five-section img {
  width: 70vw;
}

/* What is */
.first-section-wt-is {
  padding-bottom: 4em;
  padding-top: 4em;
  text-align: center;
}

.first-section-wt-is h3 {
  color: #33464E;
  margin-bottom: 1em;
  text-align: center;
}

.first-section-wt-is .introduction {
  color: #33464E;
  font-size: .9em;
}

.first-section-wt-is #info {
  background: #DADF4A;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2em 2em;
}

.first-section-wt-is #info h4 {
  color: #33464E;
  margin-bottom: 1em;
}

.first-section-wt-is #info p {
  color: #33464E;
}

.first-section-wt-is .obs {
  width: 500px;
}

.second-section-wt-is {
  background: #33464E;
  padding-bottom: 4em;
  padding-top: 4em;
}

.second-section-wt-is .plus {
  padding: 1em;
  color: #FFFFFF;
  text-align: center;
}

.second-section-wt-is .plus h3 {
  margin-bottom: 1.2em;
}

.second-section-wt-is .plus p {
  font-weight: 200;
  font-size: 0.85em;
}

.second-section-wt-is .plus .magnified {
  font-size: 1.5em;
  font-weight: bold;
}

.second-section-wt-is .ilustration {
  text-align: center;
}

.second-section-wt-is .ilustration img {
  width: 300px;
}

.third-section-wt-is {
  background: #ECEEF5;
  padding-bottom: 4em;
  padding-top: 4em;
}

.third-section-wt-is p {
  color: #33464E;
  font-size: .85em;
}

.third-section-wt-is .cc {
  text-align: center;
}

.third-section-wt-is #info {
  background: #DADF4A;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2em 2em;
  text-align: center;
}

.third-section-wt-is #info h4 {
  color: #33464E;
  margin-bottom: 1em;
}

.third-section-wt-is #info p {
  color: #33464E;
}

.third-section-wt-is img {
  width: 320px;
}

/** Forms-user **/
.wrapper-form {
  background: #ECEEF5;
  padding-bottom: 4em;
  padding-top: 4em;
}

.wrapper-form .form-section {
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  margin: auto;
  padding: 2em 4em;
  width: 40vw;
}

.wrapper-form .form-section .title-form {
  border-bottom: 5px solid #33464E;
  color: #33464E;
  font-size: 1.1em;
  padding-bottom: .5em;
  text-align: center;
}

.wrapper-form .form-section .subtitle-form {
  color: #C2C2C2;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.wrapper-form .form-section label {
  color: #33464E;
  font-size: .9em;
}

.wrapper-form .form-section button {
  background: #638F41;
  color: #FFFFFF;
  width: 100%;
}

.wrapper-form .form-section a {
  display: block;
  font-size: .8em;
  margin-bottom: 1em;
  text-align: center;
}

.wrapper-form .form-section .form-group .checkbox img {
  width: 30px;
}

.wrapper-form .form-section .form-group .radio img {
  width: 30px;
}

.wrapper-form .form-section .form-group .checkbox label {
  font-size: .65em;
}

.wrapper-form .form-section .form-group .radio label {
  font-size: .65em;
}

.wrapper-form .form-section .form-group .title-amount {
  border-bottom: 1px solid #C2C2C2;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.wrapper-form .form-section .form-group .subtitle-amount {
  font-size: .9em;
}

.wrapper-form .form-section .form-group .subtitle-amount img {
  width: 30px;
}

.wrapper-form .form-section .amounts {
  background: #ECEEF5;
  border: 1px solid #ECEEF5;
  padding: 1em;
}

.wrapper-form .form-section .amount-btn {
  background: #638F41;
  color: #FFFFFF;
  margin: 0  25%;
  width: 50%;
}

.wrapper-form .form-section .amount-btn:hover {
  color: #FFFFFF;
}

.wrapper-form .form-section #photos {
  font-size: 15px;
}

.wrapper-form .form-section #photos input {
  width: 95%;
}

.wrapper-form .form-section #photos .input-group-btn button {
  background: #fbbd19;
}

.wrapper-form .form-section #photos-initiatives input {
  width: 100%;
}

.wrapper-form .form-section #photos-initiatives .input-group .input-file {
  width: 95%;
}

.wrapper-form .form-section #photos-initiatives .input-group-btn button {
  background: #fbbd19;
}

.wrapper-form .form-section #reward .input-group textarea {
  border: 1px solid #C2C2C2;
}

.wrapper-form .form-section #reward .input-group input, .wrapper-form .form-section #reward .input-group textarea, .wrapper-form .form-section #reward .input-group label {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}

.wrapper-form .initiatives-section {
  width: 50vw;
}

/* Map */
#cat-themes {
  background: #ECEEF5;
  padding-left: 1em;
  padding-top: 1em;
}

#cat-themes .btn {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
  margin: 0 auto 1em auto;
  width: 90%;
}

#cat-themes .divider {
  background: #C2C2C2;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%;
}

#cat-themes .title {
  font-size: .8em;
  font-weight: 700;
}

#cat-themes .checkbox img {
  width: 30px;
}

#cat-themes .radio img {
  width: 30px;
}

#cat-themes .checkbox label {
  font-size: .6em;
}

#cat-themes .radio label {
  font-size: .6em;
}

#cat-themes #theme img {
  width: 20px;
}

#cat-themes #theme label {
  font-size: .6em;
}

.info {
  background: #2A7FB9;
  padding-bottom: 2em;
  padding-top: 2em;
}

/* PROFILE */
.profile-menu {
  background: #33464E;
  margin: 2em auto;
  width: 70vw;
}

.profile-menu .sesion-menu ul {
  margin-bottom: .725em !important;
  margin-top: .725em !important;
}

.profile-menu .sesion-menu .item-element {
  display: inline-block;
}

.profile-menu .sesion-menu .item-element a {
  color: #FFFFFF !important;
  font-size: .85em;
  font-weight: 700;
  padding-left: 1em;
}

.profile {
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  margin: 2em auto;
  padding: 2em 0;
  width: 70vw;
}

.profile .avatar-image {
  border-right: 1px solid #C2C2C2;
  text-align: center;
}

.profile .avatar-image img {
  border-radius: 50%;
  width: 150px;
}

.my-maps {
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  margin: 2em auto;
  padding: 2em 1em;
  width: 70vw;
}

.my-maps .title {
  color: #33464E;
  border-bottom: 1px solid #C2C2C2;
  width: 70vw;
}

.my-maps .no-map {
  margin: 2em 0;
  text-align: center;
  width: 70vw;
}

.my-maps .no-map button {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
}

.modal-body .subtitle-modal {
  color: #C2C2C2;
  font-size: .85em;
}

.modal-body .divider {
  background-color: #C2C2C2;
  height: 1px;
  margin-bottom: 1em;
}

.modal-body .form-group label {
  font-size: 1em;
}

.modal-body .form-group .checkbox img {
  width: 30px;
}

.modal-body .form-group .radio img {
  width: 30px;
}

.modal-body .form-group .checkbox label {
  font-size: .75em;
}

.modal-body .form-group .radio label {
  font-size: .75em;
}

.modal-body .form-group #button-display .btn {
  cursor: pointer;
  float: right;
  margin-left: .5em;
  padding: 2px 4px;
}

/* Admin - Users */
.admin .create {
  margin: 1em auto;
  text-align: center;
  width: 70vw;
}

.admin .create button {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
}

#point-detail {
  padding-bottom: 4em;
  padding-top: 4em;
}

#point-detail #dummy {
  width: 100%;
}

#point-detail #point-info p {
  color: #818487;
  display: inline-block;
  font-size: .65em;
  margin-right: 1em;
  margin-bottom: .5em;
}

#point-detail #point-info #last-child {
  display: block;
}

#point-detail .carousel-item {
  height: 50vh;
}

#initiatives {
  background: #FFFFFF;
  width: 70vw;
}

#initiatives #no-initiatives {
  border: 1px solid #C2C2C2;
  margin: 1em 0;
  padding: 2em;
  text-align: center;
}

#initiatives #no-initiatives .col-12 button {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
  margin-top: 3vh !important;
}

#initiatives #no-initiatives .col-12 p {
  margin-bottom: 0;
}

#initiatives #create-initiative {
  text-align: center;
  margin-bottom: 2em;
}

#initiatives #create-initiative .col-12 p {
  margin-bottom: 5px;
}

#initiatives #create-initiative .col-12 button {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
  margin-top: 3vh !important;
}

#initiatives #initiative-detail {
  border: 1px solid #C2C2C2;
  margin-bottom: 2em;
  padding: 1em 0;
}

#initiatives #initiative-detail #image-initiative img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

#initiatives #initiative-detail #title {
  color: #33464E;
  font-weight: bold;
  font-size: .9em;
  margin-bottom: .5em;
}

#initiatives #initiative-detail #data {
  font-size: .8em;
}

#initiative-show {
  margin: 2em auto;
}

#initiative-show #title {
  margin-bottom: 2em;
  text-align: center;
}

#initiative-show #title h2 {
  font-size: 34px;
}

#initiative-show #title p {
  color: #C2C2C2;
  font-size: .9em;
}

#initiative-show #initiative_img img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

#initiative-show #initiative_info {
  border-top: 5px solid #DADF4A;
  padding: 30px 15px 0px 15px;
}

#initiative-show #initiative_info #obtained p {
  color: #DADF4A;
  margin-bottom: 0em;
}

#initiative-show #initiative_info #obtained h2 {
  color: #DADF4A;
  font-size: 40px;
}

#initiative-show #initiative_info #money_details {
  padding: 10px 0;
}

#initiative-show #initiative_info #money_details #title_detail {
  color: #C2C2C2;
  font-size: .85em;
  font-weight: 200;
  margin-bottom: 0;
}

#initiative-show #initiative_info #money_details #amount {
  color: #33464E;
  font-size: 30px;
  font-weight: normal !important;
  margin-bottom: .4em;
}

#initiative-show #initiative_info #cofinanciate {
  background: #DADF4A;
  border: 1px solid #DADF4A;
  padding: 1em;
  width: 100%;
}

#initiative-show #initiative_detail .category p, #initiative-show #initiative_detail .theme p {
  color: #ADAEB2;
  display: inline-block;
  font-size: .9em;
  margin-bottom: .5em;
  margin-top: .5em;
}

#initiative-show #initiative_detail .category #subtitle, #initiative-show #initiative_detail .theme #subtitle {
  font-weight: bold;
}

#initiative-show #social-links {
  padding: 1em 3em;
}

#initiative-show #social-links img {
  width: 35px;
}

.about {
  background: #C2C2C2;
  padding: 15px 0;
  width: 100vw;
}

.about #about_project h3 {
  color: #33464E;
  font-weight: normal !important;
  margin-bottom: 1em;
}

.about #about_project p {
  color: #33464E;
  font-size: .875em;
}

.about #about_project .card {
  border: 4px solid #33464E;
  margin-bottom: 1em;
}

.about #about_project .card a {
  color: #33464E;
}

.about #about_project .card .card-header {
  padding: 2em 1em;
}

.about #about_project .card .card-body #amount_detail h3 {
  display: inline-block;
}

.about #about_project .card .card-body #amount_detail img {
  margin-bottom: 10px;
  width: 25px;
}

.about #about_project .card .card-body #initiative_description {
  color: #33464E;
  font-size: .9em;
}

.about #reward h3 {
  margin-bottom: 1em;
  color: #33464E;
  font-weight: normal !important;
}

.about #reward .reward_item {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 2em 1.5em;
}

.about #reward .reward_item h4 {
  color: #33464E;
  margin-bottom: 1em;
}

.about #reward .reward_item p {
  font-size: .8em;
  text-align: justify;
}

.about #reward .reward_item .amount p, .about #reward .reward_item .amount i {
  display: inline-block;
}

.about #reward .reward_item .amount p {
  color: #33464E;
  font-weight: bold;
}

.about #reward .reward_item .btn {
  background: #DADF4A;
  border-color: #DADF4A;
  padding: 1em;
  width: 100%;
}

#initiatives-all {
  margin-bottom: 2em;
  margin-top: 2em;
}

#initiatives-all .header {
  border-bottom: 5px solid #DADF4A;
}

#initiatives-all .header button {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
  margin-right: 1em;
}

#initiatives-all #info-img {
  margin-bottom: 1em;
  margin-top: 1em;
}

#initiatives-all #info-img img {
  width: 100%;
}

#initiatives-all #published-initiatives {
  width: 100%;
}

#initiatives-all #published-initiatives #no-initiatives {
  margin: 1em 0;
  padding: 2em;
  text-align: center;
}

#initiatives-all #published-initiatives #no-initiatives .col-12 button {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
  margin-top: 3vh !important;
}

#initiatives-all #published-initiatives #no-initiatives .col-12 p {
  margin-bottom: 0;
}

#initiatives-all #published-initiatives h4 {
  color: #33464E;
  margin-bottom: 1em;
}

#initiatives-all #published-initiatives .initiative {
  background: #D2D4DA;
  display: inline-block;
  margin-bottom: 1em;
  margin-right: 2.75%;
  padding: 1em;
  width: 22.5%;
}

#initiatives-all #published-initiatives .initiative:nth-child(4n) {
  margin-right: 0 !important;
}

#initiatives-all #published-initiatives .initiative img {
  background: #FFFFFF;
  margin-bottom: .5em;
  height: 150px;
  max-height: 150px;
  object-fit: contain;
  width: 100%;
}

#initiatives-all #published-initiatives .initiative .title {
  color: #33464E;
  font-weight: bold;
  margin-bottom: .2em;
}

#initiatives-all #published-initiatives .initiative .subtitle {
  font-size: .8em;
}

#initiatives-all #published-initiatives .initiative .btn {
  background: #33464E;
  color: #DADF4A;
  padding: .5em 2em;
  border: #DADF4A;
  margin-top: 1em;
  width: 100%;
}

#initiatives-all #published-initiatives .initiative .amounts p {
  display: inline-block;
  font-size: .75em;
  margin-bottom: 0;
}

#initiatives-all #published-initiatives .initiative .amounts #goal {
  float: right;
}

#created-initiative {
  margin: 3em 1em;
  text-align: center;
}

#created-initiative img {
  margin-bottom: 1em;
  width: 100px;
}

#privacy {
  margin-top: 2em;
  margin-bottom: 3em;
}

#privacy h2 {
  color: #33464E;
  margin-bottom: 1em;
}

#privacy h3 {
  color: #33464E;
  margin-top: 1.5em;
}

#privacy p {
  font-size: .9em;
  text-align: justify;
}

#team {
  margin-top: 2em;
  margin-bottom: 3em;
}

#team h2 {
  color: #33464E;
  margin-bottom: 1em;
}

#team .card-title {
  text-align: center;
}

#team .card-text {
  font-size: .85em;
  margin-bottom: .5em;
  text-align: center;
}

#team .card-text2 {
  font-size: .7em;
  margin-bottom: .2em;
  text-align: center;
}

#team #last {
  text-align: center;
}
