@import 'variables';
@import 'mixins';
@import 'progress-bar';

body{
	font-size: 17px;
	position: relative;
	min-height: 100vh;
	margin: 0;
}

// #map-container{

// 	#map{
// 		min-height: 100% !important;
// 	}
// }

.map-section-img{

	background: url("/images/map-image.png") center center;
	background-size: 100%;
	height: 80vh;
	text-align: center;

	.col-12{
		height: 80vh;

		button{
			@include btn-with-background($light-green);
			margin-top: 35vh !important;
		}
	}
}


.sesion-section{
	background: $black;

	.sesion-menu{

		ul{
			margin-bottom: 0 !important; 
		}
		
		.item-element{
			display: inline-block;

			a{
				color: $white !important;
				font-size: .7em;
				padding-left: .5em;
			}
		}
	}
}

.navbar{
	background: $light-green;
	padding-bottom: 0 !important;
	padding-top: 0 !important;

	.navbar-brand img{
		width: 15vw;
	}

	.navbar-toggler-icon{
		color: $white;
		padding-top: 4px;
	}

	.navbar-nav{

		background: $medium-green;
		padding-left: .5em;
		padding-right: .5em;

		.nav-link{
			color: $black;
			font-size: .8em;
			font-weight: $light;
			padding-left: 1em;
			border-right: 1px solid $heavy-green;

			img{
				width: 20px;
			}
		}

		#last-child{
			border-right: none;
			margin-top: .3em;

			i{
				color: $white;
			}
		}
	}

}

footer{
	background: $black;
	align-self: flex-end;
	padding-bottom: 2em;
	padding-top: 2em;

	.title{
		color: $white;
		font-size: .85em;
		margin-bottom: 1.5em;
	}

	.item-footer{
		color: $white;
		font-size: .7em;
		display: block;
	}

	.logo{
		width: 120px;
	}

	.icon{
		color: $white;
		margin-left: .5em;
	}
}

.main-section{
	overflow: hidden;
}


/* INDEX */
.first-section{
	background: $light-green;
	padding-top: 4em;
	padding-bottom: 4em;

	h3{
		color: $black;
		margin-bottom: 2em;
		text-align: center;
	}

	.col-sm-6{
		
		h5, p{
			color: $black;
		}

		h5{
			font-size: 1em;
		}

		p{
			font-weight: $light;
			font-size: .8em;
		}

		button{
			@include border-with-no-background($heavy-green);
		}
		
	}
}

#map-image{
	padding-left: 0 !important;

	img{
	    max-width: 100%;
	    min-height: 100%;
	}
}

.second-section{
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;

	img{
		margin-bottom: 1em;
		width: 450px;
	}

	p{
		font-size: .9em;
		padding-left: .75em;
		padding-right: .75em;
	}
}

.third-section{
	background: $black;
	padding-bottom: 2em;
	padding-top:2em;

	.col-3{
		text-align: center;
	}

	img{
		margin-bottom: 1em;
	}

	p{
		color: $white;
		font-weight: bold;
	}

	.number{
		color: $white;
	}

	.title{
		color: $light-green;
		margin-bottom: 0;
	}
}

.four-section{
	background: $light-green;
	padding-bottom: 3em;
	padding-top:3em;
	text-align: center;

	button{
		@include btn-with-background($light-green);
	}

}

.five-section{
	padding-bottom: 1em;
	padding-top:1em;
	text-align: center;

	img{
		width: 70vw;
	}
}


/* What is */
.first-section-wt-is{
	padding-bottom: 4em;
	padding-top: 4em;
	text-align: center;

	h3{
		color: $black;
		margin-bottom: 1em;
		text-align: center;
	}

	.introduction{
		color: $black;
		font-size: .9em;
	}

	#info{
		background: $light-green;
		margin-top: auto;
		margin-bottom: auto;
		padding: 2em 2em;

		h4{
			color: $black;
			margin-bottom: 1em;
		}

		p{
			color: $black;
		}
	}

	.obs{
		width: 500px;
	}
}

.second-section-wt-is{
	background: $black;
	padding-bottom: 4em;
	padding-top: 4em;

	.plus{
		// background: rgb(69, 68, 74);
		padding: 1em;
		color: $white;
		text-align: center;

		h3{
			margin-bottom: 1.2em;
		}

		p{
			font-weight: 200;
			font-size: 0.85em;
		}

		.magnified{
			font-size: 1.5em;
			font-weight: bold;
		}
	}

	.ilustration{
		text-align: center;

		img{
			width: 300px;
		}
	}


}

.third-section-wt-is{
	background: $grey;
	padding-bottom: 4em;
	padding-top: 4em;

	p{
		color: $black;
		font-size: .85em;
	}

	.cc{
		text-align: center;
	}

	#info{
		background: $light-green;
		margin-top: auto;
		margin-bottom: auto;
		padding: 2em 2em;
		text-align: center;

		h4{
			color: $black;
			margin-bottom: 1em;
		}

		p{
			color: $black;
		}
	}

	img{
		width: 320px;
	}
}

/** Forms-user **/
.wrapper-form{
	background: $grey;
	padding-bottom: 4em;
	padding-top: 4em;

	.form-section{
		background: $white;
		border: 1px solid $border-grey;
		margin: auto;
		padding: 2em 4em;
		width: 40vw;

		.title-form{
			border-bottom: 5px solid $black;
			color: $black;
			font-size: 1.1em;
			padding-bottom: .5em;
			text-align: center;
		}

		.subtitle-form{
			color: $border-grey;
			font-size: 1em;
			margin-bottom: 1em;
			text-align: center;
		}

		label{
			color: $black;
			font-size: .9em;
		}

		button{
			background: $heavy-green;
			color: $white;
			width: 100%;
		}

		a{
			display: block;
			font-size: .8em;
			margin-bottom: 1em;
			text-align: center;
		}

		.form-group{
			.checkbox{
				img{
					width:30px;
				}

				label{
					font-size: .65em;
				}
			}

			.title-amount{
				border-bottom: 1px solid $border-grey;
				font-weight: $medium;
				margin-bottom: 1.5em;
			}

			.subtitle-amount{
				font-size: .9em;

				img{
					width: 30px;
				}
			}

		}

		.amounts{
			background: $grey;
			border: 1px solid $grey;
			padding: 1em;
		}

		.amount-btn{
			background: $heavy-green;
			color: $white;
			margin: 0  25%;
			width: 50%;

			&:hover{
				color: $white;
			}
		}

		#photos{
			font-size: 15px;

			input{
				width: 95%;
			}

			.input-group-btn{
				button{
					background: #fbbd19;
				}
			}
		}

		#photos-initiatives{

			input{
				width: 100%;
			}

			.input-group{
				.input-file{
					width: 95%;
				}
			}

			.input-group-btn{
				button{
					background: #fbbd19;
				}
			}
		}

		#reward{
			.input-group{

				textarea{
					border: 1px solid $border-grey;
				}

				input, textarea, label{
					display: block;
					margin-bottom: 1em;
					width: 100%;
				}
			}
		}

	}

	.initiatives-section{
		width: 50vw;
	}
}

/* Map */
#cat-themes{
	background: $grey;
	padding-left: 1em;
	padding-top: 1em;

	.btn{
		@include btn-with-background($light-green);
		margin: 0 auto 1em auto;
		width: 90%;
	}

	.divider{
		background: $border-grey;
		height: 1px;
		margin-top: 1em;
		margin-bottom: 1em;
		width: 90%;
	}

	.title{
		font-size: .8em;
		font-weight: $medium;
	}

	.checkbox{
		img{
			width:30px;
		}

		label{
			font-size: .6em;
		}
	}

	#theme{
		img{
			width: 20px;
		}

		label{
			font-size: .6em;
		}
	}
}

.info{
	background: $blue;
	padding-bottom: 2em;
	padding-top: 	2em;
}

/* PROFILE */

.profile-menu{

	background: $black;
	margin: 2em auto;
	width: 70vw;

	.sesion-menu{

		ul{
			margin-bottom: .725em !important;
			margin-top: .725em !important;  
		}
		
		.item-element{
			display: inline-block;

			a{
				color: $white !important;
				font-size: .85em;
				font-weight: $medium;
				padding-left: 1em;
			}
		}
	}
}

.profile{
	
	background: $white;
	border: 1px solid $border-grey;
	margin: 2em auto;
	padding: 2em 0;
	width: 70vw;

	.avatar-image{
		
		border-right: 1px solid $border-grey;
		text-align: center;

		img{
			border-radius: 50%;
			width: 150px;
		}
	}
}

.my-maps{

	background: $white;
	border: 1px solid $border-grey;
	margin: 2em auto;
	padding: 2em 1em;
	width: 70vw;

	.title{
		color: $black;
		border-bottom: 1px solid $border-grey;
		width: 70vw;
	}

	.no-map{
		margin: 2em 0;
		text-align: center;
		width: 70vw;

		button{
			@include btn-with-background($light-green);
		}
	}
}

.modal-body{

	.subtitle-modal{
		color: $border-grey;
		font-size: .85em;
	}

	.divider{
		background-color: $border-grey;
		height: 1px;
		margin-bottom: 1em;
	}

	.form-group{

		label{
			font-size: 1em;
		}

		.checkbox{
			img{
				width:30px;
			}

			label{
				font-size: .75em;
			}
		}

		#button-display{

			.btn{
				cursor: pointer;
				float:right;
				margin-left: .5em;
				padding: 2px 4px;
			}
		}
	}
}

/* Admin - Users */

.admin{
	.create{
		margin: 1em auto;
		text-align: center;
		width: 70vw;

		button{
			@include btn-with-background($light-green);
		}
	}
}

#point-detail{

	padding-bottom: 4em;
	padding-top: 4em;

	#dummy{
		width: 100%;
	}

	#point-info{

		p{
			color: #818487;
			display: inline-block;
			font-size: .65em;
			margin-right: 1em;
			margin-bottom: .5em;
		}

		#last-child{
			display: block;
		}
	}

	.carousel-item{
		height: 50vh;
	}
}

#initiatives{

	background: $white;
	width: 70vw;

	#no-initiatives{
		border: 1px solid $border-grey;
		margin: 1em 0;
		padding: 2em;
		text-align: center;

		.col-12{

			button{
				@include btn-with-background($light-green);
				margin-top: 3vh !important;
			}

			p{
				margin-bottom: 0;
			}

		}
	}

	#create-initiative{

		text-align: center;
		margin-bottom: 2em;
		.col-12{

			p{
				margin-bottom: 5px;
			}

			button{
				@include btn-with-background($light-green);
				margin-top: 3vh !important;
			}
		}
	}


	#initiative-detail{

		border: 1px solid $border-grey;
		margin-bottom: 2em;
		padding: 1em 0;

		#image-initiative{
		
			img{
				width: 100%;
				height: 200px;
				object-fit: contain;
			}
		}

		#title{
			color: $black;
			font-weight: bold;
			font-size: .9em;
			margin-bottom: .5em;
		}

		#data{
			font-size: .8em;
		}

	}

}


#initiative-show{

	margin: 2em auto;

	#title{
		margin-bottom: 2em;
		text-align: center;

		h2{
			font-size: 34px;
		}

		p{
			color: $border-grey;
			font-size: .9em;
		}
	}

	#initiative_img{
		img{
			width: 100%;
			height: 400px;
			object-fit: contain;
		}
	}

	#initiative_info{
		border-top: 5px solid $light-green;
		padding: 30px 15px 0px 15px;

		#obtained{

			p{
				color: $light-green;
				margin-bottom: 0em;
			}

			h2{
				color: $light-green;
				font-size: 40px;
			}
		}

		#money_details{

			padding: 10px 0;

			#title_detail{
				color: $border-grey;
				font-size: .85em;
				font-weight: 200;
				margin-bottom: 0;
			}

			#amount{
				color: $black;
				font-size: 30px;
				font-weight: normal !important;
				margin-bottom: .4em;
			}
		}

		#cofinanciate{
			background: $light-green;
			border: 1px solid $light-green;
			padding: 1em;
			width: 100%;
		}
	}

	#initiative_detail{

		.category, .theme{
			p{
				color: #ADAEB2;
				display:inline-block;
				font-size: .9em;
				margin-bottom: .5em;
				margin-top: .5em;
			}

			#subtitle{
				font-weight: bold;
			}
		}
	}

	#social-links{

		padding: 1em 3em;

		img{
			width: 35px;
		}
	}

}

.about{
	background: $border-grey;
	padding: 15px 0;
	width: 100vw;


	#about_project{

		h3{
			color: $black;
			font-weight: normal !important;
			margin-bottom: 1em;
		}

		p{
			color: $black;
			font-size: .875em;
		}

		.card{
			border: 4px solid $black;
			margin-bottom: 1em;

			a{
				color: $black;
			}

			.card-header{
				padding: 2em 1em;
			}

			.card-body{

				#amount_detail {

					h3{
						display: inline-block;
					}

					img{
						margin-bottom: 10px;
						width: 25px;
					}
				}

				#initiative_description{
					color: $black;
					font-size: .9em;
				}

			}
		}
	}

	#reward{

		h3{
			margin-bottom: 1em;
			color: $black;
			font-weight: normal !important;
		}

		.reward_item{
			background: $white;
			border-radius: 10px;
			padding: 2em 1.5em;

			h4{
				color: $black;
				margin-bottom: 1em;
			}

			p{
				font-size: .8em;
				text-align: justify;
			}

			.amount{

				p, i{
					display: inline-block;
				}

				p{
					color: $black;
					font-weight: bold;
				}
			}

			.btn{
				background: $light-green;
				border-color: $light-green;
				padding: 1em;
				width: 100%;
			}
		}
	}
}


#initiatives-all{

	margin-bottom: 2em;
	margin-top: 2em;

	.header{
		border-bottom: 5px solid $light-green;

		button{
			@include btn-with-background($light-green);
			margin-right: 1em;
		}
	}

	#info-img{

		margin-bottom: 1em;
		margin-top: 1em;

		img{
			width: 100%;
		}
	}

	#published-initiatives{

		width: 100%;

		#no-initiatives{
			margin: 1em 0;
			padding: 2em;
			text-align: center;

			.col-12{

				button{
					@include btn-with-background($light-green);
					margin-top: 3vh !important;
				}

				p{
					margin-bottom: 0;
				}

			}
		}

		h4{
			color: $black;
			margin-bottom: 1em;
		}

		.initiative{
			background: #D2D4DA;
			display: inline-block;
			margin-bottom: 1em;
			margin-right: 2.75%;
			padding: 1em;
			width: 22.5%;

			&:nth-child(4n){
				margin-right: 0!important;
			}


			img{
				background: $white;
				margin-bottom: .5em;
				height: 150px;
				max-height: 150px;
				object-fit: contain;
				width: 100%;
			}

			.title{
				color: $black;
				font-weight: bold;
				margin-bottom: .2em;
			}

			.subtitle{
				font-size: .8em;
			}

			.btn{
				@include btn-with-background($light-green);
				border: $light-green;
				margin-top: 1em;
				width: 100%;
			}

			.amounts{

				p{
					display: inline-block;
					font-size: .75em;
					margin-bottom: 0;
				}

				#goal{
					float: right;
				}
			}
		}
	}
}

#created-initiative{

	margin: 3em 1em;
	text-align: center;

	img{
		margin-bottom: 1em;
		width: 100px;
	}

}

#privacy{

	margin-top: 2em;
	margin-bottom: 3em;

	h2{
		color: $black;
		margin-bottom: 1em;
	}

	h3{
		color: $black;
		margin-top: 1.5em;
	}

	p{
		font-size: .9em;
		text-align: justify;
	}
}

#team{

	margin-top: 2em;
	margin-bottom: 3em;

	h2{
		color: $black;
		margin-bottom: 1em;
	}

	.card-title{
		text-align: center;
	}

	.card-text{
		font-size: .85em;
		margin-bottom: .5em;
		text-align: center;
	}

	.card-text2{
		font-size: .7em;
		margin-bottom: .2em;
		text-align: center;
	}

	#last{
		text-align: center;
	}


}
