/* Colors */
$light-green : #DADF4A;
$medium-green: #EEE96D;
$heavy-green : #638F41;
$base-color  : #FDF3ED;
$black       : #33464E;
$blue		 : #2A7FB9;
$white		 : #FFFFFF;
$grey		 : #ECEEF5;
$border-grey : #C2C2C2;
$medium-green: #cacd4f;

/* Font Weights */
$light  : 300;
$medium : 700;
$bold   : 900;